<html>
    <head>
        <title>Recipes Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <!-- Navigation Bar -->
    <div class="logonav">
        <a href="index" class="logo">Sensitivity Savors</a>
    </div>
    <div class="nav">
        <a href="index">Home</a>
        <a href="form">Form</a>
        <a class="active" href="all_recipes">All Recipes</a>
        <a href="q_a_chat">Q&A Chatbot</a>
    </div>  
    
    <!-- NEED TO UPDATE THIS TO PROPERLY DISPLAY ALL RECIPES -->
    <body>
        <!-- <div class="filter-button">
            <a href="#" class="filter-link">Filter <i class="material-icons">filter_list</i></a>
        </div> -->
        <h1>All Recipes: </h1>
            <form id="filter-form" action="/all_recipes" method="GET">
                <div class="filter-options">
                    <h3>Dietary Options</h3>
                    <label><input type="checkbox" name="dietary[]" value="vegan"> Vegan</label>
                    <label><input type="checkbox" name="dietary[]" value="vegetarian"> Vegetarian</label>
                    <label><input type="checkbox" name="dietary[]" value="gluten-free"> Gluten Free</label>
                    <label><input type="checkbox" name="dietary[]" value="dairy-free"> Dairy Free</label>
                    
                    <button class="apply-button" onclick="submitFilters()"> <span>Apply</span>  <i class="material-icons" style="font-size: 25px; vertical-align: middle;">filter_list</i></button>
                
                </div>
            </form>
        
        <div class="recipes-grid">
            <% recipes.forEach(recipe => { %>
                <!-- <a href="recipe_details/<%= recipe._id %>" class="recipe-link"> -->
                <a href="recipe/<%= recipe._id %>" class="recipe-link">
                    <div class="recipe-item">
                        <div class="image-container">
                            <img src="<%= recipe.image_url %>" alt="<%= recipe.name %>">
                        </div>
                        <p><%= recipe.name %></p>
                        <!-- <ul class="diet-categories">
                            <% recipe.categories.forEach(category => { %>
                                <li><%= category.dietCategory %></li>
                            <% }) %>
                        </ul> -->
                    </div>
                </a>
            <%}) %>
        </div>

        <script>
            document.querySelector('.filter-link').addEventListener('click', function() {
                document.querySelector('.filter-options');
            });

            function submitFilters() {
                document.getElementById("filter-form").submit();
                printf("Applied filter");
            }
        </script>
    </body>
</html>