<html>
    <head>
        <title>Recipes Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <!-- Navigation Bar -->
    <div class="logonav">
        <a href="index" class="logo">Sensitivity Savors</a>
    </div>
    <div class="nav">
        <a href="index">Home</a>
        <a href="form">Form</a>
        <a class="active" href="all_recipes">All Recipes</a>
        <a href="q_a_chat">Q&A Chatbot</a>
    </div>  
    
    <!-- NEED TO UPDATE THIS TO PROPERLY DISPLAY ALL RECIPES -->
    <body>
        <!-- <div class="filter-button">
            <a href="#" class="filter-link">Filter <i class="material-icons">filter_list</i></a>
        </div> -->
        <h1>All Recipes: </h1>
            <form id="filter-form" action="/all_recipes" method="GET">
            <!-- <form id="filter-form" onsubmit="filterRecipes(this)"> -->
                <div class="filter-options">
                    <h3>Dietary Options</h3>
                    <% categories.forEach((category) => { %>
                        <% if (checked_categories.includes(category._id.toString())) { %>
                            <label><input type="checkbox" checked class="dietCatCheckbox" name="<%= category.dietCategory %>" value="<%= category._id %>"><%= category.dietCategory %></label>
                        <% } else { %>
                            <label><input type="checkbox" class="dietCatCheckbox" name="<%= category.dietCategory %>" value="<%= category._id %>"><%= category.dietCategory %></label>
                        <% } %>
                    <% }) %>
                    <!-- <button class="apply-button" onclick="submitFilters()"> <span>Apply</span>  <i class="material-icons" style="font-size: 25px; vertical-align: middle;">filter_list</i></button> -->
                    <button class="apply-button"> <span>Apply</span>  <i class="material-icons" style="font-size: 25px; vertical-align: middle;">filter_list</i></button>
                
                </div>
            </form>
        
        <div class="recipes-grid">
            <% recipes.forEach(recipe => { %>
                <a href="recipe/<%= recipe._id %>" class="recipe-link">
                    <div class="recipe-item">
                        <div class="image-container">
                            <img src="<%= recipe.image_url %>" alt="<%= recipe.name %>">
                        </div>
                        <p><%= recipe.name %></p>
                        <!-- <ul class="diet-categories">
                            <% recipe.categories.forEach(category => { %>
                                <li><%= category.dietCategory %></li>
                            <% }) %>
                        </ul> -->
                        <!-- Diet Categories -->
                        <div class="category-section">
                            <% recipe.categories.forEach(function(category) { %>
                                <% if (category) { %>
                                    <div class="diet-category">
                                        <div class="circle <%= category.dietCategory.toLowerCase().replace(' ', '-') %>"><%= category.dietCategory.slice(0, 2).toUpperCase() %></div>
                                        <div class="category-description"><%= category.dietCategory %></div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                    </div>
                </a>
            <%}) %>
        </div>

        <!-- <script>
            document.querySelector('.filter-link').addEventListener('click', function() {
                document.querySelector('.filter-options');
            });

            function submitFilters() {
                document.getElementById("filter-form").submit();
                console.log("Applied filter");
            }
        </script> -->
    </body>
</html>