<html>
    <head>
        <title>Recipes Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" type="text/css">
    </head>

    <!-- Navigation Bar -->
    <div class="logonav">
        <a href="index" class="logo">Sensitivity Savors</a>
    </div>
    <div class="nav">
        <a href="/index">Home</a>
        <a href="/form">Form</a>
        <a href="/all_recipes">All Recipes</a>
        <a href="q_a_chat">Q&A Chatbot</a>
    </div>  
    
    <!-- NEED TO UPDATE THIS TO PROPERLY DISPLAY RECIPE -->
    <body>
        <div class="container2">
        
            <!-- Recipe Name -->
            <h1><%= recipe.name %> Recipe </h1>

            <!-- Diet Categories -->
            <div class="category-section">
                <ul>
                    <% categories.forEach(function(category) { %>
                        <% if (category) { %>
                            <%= category.dietCategory %><br>
                        <% } %>
                    <% }); %>
                </ul>
            </div>

            <!-- Image -->
            <div class="image-container2">
                <img src="<%= `../${recipe.image_url}` %>" alt="<%= recipe.name %>">
            </div>

            <!-- Author -->
            <p>By: <%= recipe.author %></p>

            <!-- Display for Time (Prep, Cook, and Total) -->
            <div class="time-container">
                <div class="time-section">
                    <p>Prep Time: <%= recipe.prep_time %> minutes</p>
                </div>

                <div class="time-section">
                    <p>Cook Time: <%= recipe.cook_time %> minutes</p>
                </div>

                <div class="time-section">
                    <p>Total Time: <%= recipe.total_time %> minutes</p>
                </div>
            </div>

            <div class="recipe-details">

                <!-- Ingredients -->
                <div class="ingredients-column">
                    <h3>Ingredients</h3>
                    <ul>
                        <% ingredients.forEach(function(ingredient) { %>
                            <li><%= ingredient.quantity %> <%= ingredient.unit %> <%= ingredient.name %> <% if (ingredient.note) { %>(<%= ingredient.note %>)<% } %></li>
                        <% }); %>
                    </ul>
                </div>

                <!-- Directions -->
                <div class="instructions-column">
                    <h3>Directions:</h3>
                    <ol>
                        <% recipe.instructions.forEach(function(instruction) { %>
                            <li><%= instruction %></li>
                        <% }); %>
                    </ol>
                </div>

            </div>
        </div>
    </body>
</html>